[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]
django = "==2.2.3"
psycopg2-binary = "==2.8.3"
django-meta = "==1.5.2"
django-debug-toolbar = "==2.0"
django-redis = "==4.10.0"
pytz = "==2019.1"
redis = "==3.3.2"
sqlparse = "==0.3.0"

[requires]
python_version = "3.7"

[dev-packages]
